<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Połączenia</title>
    <link rel="icon" type="image/x-icon" href="/shared/icons/favicon.ico">
    <!--Styles-->
    <link rel="stylesheet" href="../../connections/css/styles.css" />
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <h1 id="main-title" class=""></h1>
      <div class="nav-button-container">
        <button id="return-to-cabinets" class="material-return-button">
          <span class="material-icons">arrow_back</span>
          <span>Wyświetl szafy</span>
        </button>
        <button id="toggle-display-type" class="material-toggle-button">
          <span>Przełącz wyświetlanie</span>
        </button>
        <button id="update-button" class="material-toggle-button hidden">
          <span class="material-icons">update</span>
          <span>Aktualizuj</span>
        </button>
      </div>
    </nav>

    <div id="dynamic-content" class="dynamic-content"></div>

    <script type="module" src="../../connections/script/index.js"></script>
  </body>
</html>
