<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        
        <script src="/main/script/index.js"></script>
    </body>
</html>