<body>
  <div id="loading-spinner" class="loading-spinner">
    <div class="spinner"></div>
    <p>Ładowanie...</p>
  </div>
  <nav>
    <h1 id="main-title">Szafy</h1>
    <div class="nav-button-container">
      <button id="update-button" class="material-toggle-button hidden">
        <span class="material-icons">update</span>
        <span>Aktualizuj</span>
      </button>
    </div>
  </nav>
  <div id="dynamic-content" class="dynamic-content"></div>
  <script type="module" src="/cabinets/script/index.js"></script>
</body>
